// 字体图标
@font-face {
  font-family: "AdminDesigns";
  src: url("../fonts/admindesigns/admindesigns.eot");
  src: url("../fonts/admindesigns/admindesigns.eot?#iefix") format("embedded-opentype"),
    url("../fonts/admindesigns/admindesigns.woff") format("woff"),
    url("../fonts/admindesigns/admindesigns.ttf") format("truetype"),
    url("../fonts/admindesigns/admindesigns.svg#admindesigns") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ad {
  position: relative;
  display: inline-block;
  font: normal normal normal 16px/1 AdminDesigns;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.ad-lines:before {
  content: "\e600";
}
.ad-wand:before {
  content: "\e010";
}
.ad-radio-tower:before {
  content: "\f030";
}
.ad-ruby:before {
  content: "\f047";
}
.ad-screen-full:before {
  content: "\f066";
}
.ad-home:before {
  content: "\e902";
}
.ad-image:before {
  content: "\e90d";
}
.ad-camera:before {
  content: "\e90f";
}
.ad-play:before {
  content: "\e912";
}
.ad-equalizer:before {
  content: "\e992";
}
.ad-headphones:before {
  content: "\e910";
}
.ad-message:before {
  content: "\e945";
}
.ad-man:before {
  content: "\e055";
}
.ad-woman:before {
  content: "\e056";
}
.ad-user:before {
  content: "\e971";
}