// 字体图标
@font-face {
  font-family: "Icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.woff") format("woff"),
    url("../fonts/icomoon/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ad {
  position: relative;
  display: inline-block;
  font: normal normal normal 16px/1 Icomoon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.ad-lines:before {
  content: "\e600";
}
.ad-wand:before {
  content: "\e010";
}
.ad-radio-tower:before {
  content: "\f030";
}
.ad-ruby:before {
  content: "\f047";
}
.ad-screen-full:before {
  content: "\f066";
}
.ad-home:before {
  content: "\e021";
}
.ad-image:before {
  content: "\e90d";
}
.ad-camera:before {
  content: "\e90f";
}
.ad-play:before {
  content: "\e912";
}
.ad-equalizer:before {
  content: "\e992";
}
.ad-headphones:before {
  content: "\e910";
}
.ad-message:before {
  content: "\e945";
}
.ad-mail:before {
  content: "\f0e0";
}
.ad-man:before {
  content: "\e055";
}
.ad-woman:before {
  content: "\e056";
}
.ad-user:before {
  content: "\e972";
}
.ad-ring:before {
  content: "\f0f3";
}
.ad-gear:before {
  content: "\e994";
}
.ad-increase:before {
  content: "\ea7b";
}
.ad-decrease:before {
  content: "\ea7c";
}
.ad-users:before {
  content: "\e973";
}
.ad-poweroff:before {
  content: "\f011";
}
.ad-check:before {
  content: "\e207";
}
.ad-close:before {
  content: "\e208";
}
.ad-into:before {
  content: "\e161";
}